/*
 * -------------------------------------------------
 *  nfcore/directrna Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'nf-core/nanopore'
  description = 'Nextflow Nanopore RNA-Seq pipeline, part of the nf-core community.'
  homePage = ''
  author = 'Tsz Wai Pang'
  version = '1.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'

// Global default params, used in configs
params {
   container = 'nfcore/directrna:1.0'

   // Pipeline Options
   outdir = './results'
}

process {
   withName: mapping {
      cpus = 8
      memory = 16.GB
   }
}

profiles {
   conda { process.conda = "$baseDir/environment.yml" }
   conda { process.conda = "$baseDir/nanoplot-env.yaml" }
}

